# Compilation directories
obj/
out/

# Visual Studio config directory
.vs

# Program database file (MS storage of debugging symbols)
*.pdb

# Documentation directory (use doxygen to compile docs from the configuration file Doxyfile)
doc/

# Test input files
**.rle
**.cells

# Compilation databse file (used by Clang-based tools)
compile_commands.json
